<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h1>{{ "Dịch vụ cộng đồng"}}</h1>
      </div>
      <div class="col-6 text-right">
          <a href="javascript:;"
            [routerLink]="['../']"
            class="btn bg-red">
            {{"Trở về"}}
          </a>
          &nbsp;
      </div>
    </div>
  </div>
</section>
<section class="content px-2">
  <div class="container-fluid">
    <!-- dịch vụ người dùng -->
    <div class="card">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h4 class="font-weight-bold">Dịch vụ cho người dùng</h4>
          </div>
          <div class="card-text">
              <div class="row">
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                              <h3></h3>
                              <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-lightbulb fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Phí chiếu sáng
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-droplet fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Phí nước
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-geo fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Phí gửi xe tháng
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div>
                  </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-lightning fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Phí điện
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div> 
                  </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-archive fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Phí quản lý
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>                           
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- dịch vụ ăn uống -->
    <div class="card">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h4 class="font-weight-bold">Dịch vụ ăn uống</h4>
          </div>
          <div class="card-text">
              <div class="row">
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                              <h3></h3>
                              <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-house-door fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Nhà hàng 1
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-house-door fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Nhà hàng 2
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-house-door fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Nhà hàng 3
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div>
                  </div>
                  </div>

              </div>
          </div>
      </div>
    </div>
    <!-- dịch vụ kid club -->
    <div class="card">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h4 class="font-weight-bold">Dịch vụ Kid Club</h4>
          </div>
          <div class="card-text">
              <div class="row">
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                              <h3></h3>
                              <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-house fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Nhà trông trẻ
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-file-music fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Lớp dạy múa hát
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-brightness-alt-low fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Lớp thể thao đá bóng, bóng rổ, bơi
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div>
                  </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-trophy fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Lớp dạy võ
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div> 
                  </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- dịch vụ sức khỏe -->
    <div class="card">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h4 class="font-weight-bold">Dịch vụ sức khỏe</h4>
          </div>
          <div class="card-text">
              <div class="row">
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                              <h3></h3>
                              <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-house fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Phòng khám A
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-heart fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Phòng khám B
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-mailbox fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Phòng thú y
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- dịch vụ thể thao -->
    <div class="card">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h4 class="font-weight-bold">Dịch vụ thể thao</h4>
          </div>
          <div class="card-text">
              <div class="row">
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                              <h3></h3>
                              <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-trophy fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Cầu lông
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-trophy fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Bơi
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-trophy fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Bóng rổ
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div>
                  </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-trophy fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                            Tennis
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div> 
                  </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- club văn nghệ -->
    <div class="card">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h4 class="font-weight-bold">Các club văn nghệ</h4>
          </div>
          <div class="card-text">
              <div class="row">
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                              <h3></h3>
                              <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-file-music fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Yoga
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-file-music fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Dance
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- tiện ích kinh doanh -->
    <div class="card">
      <div class="card-body">
          <div class="card-title font-weight-bold">
              <h4 class="font-weight-bold">Tiện ích kinh doanh</h4>
          </div>
          <div class="card-text">
              <div class="row">
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                              <h3></h3>
                              <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-reception-4 fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Thuê văn phòng
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="small-box no-box">
                          <div class="inner-head">
                          <h3></h3>
                          <p></p>
                          </div>
                          <div class="inner-content">
                            <i class="bi bi-reception-4 fa-3x"></i>
                          </div>
                          <div class="inner-footer">
                              <a>
                              Thuê nhà
                              <i class="fas fa-arrow-circle-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                  <div class="small-box no-box">
                      <div class="inner-head">
                      <h3></h3>
                      <p></p>
                      </div>
                      <div class="inner-content">
                        <i class="bi bi-reception-4 fa-3x"></i>
                      </div>
                      <div class="inner-footer">
                          <a>
                          Bán nhà
                          <i class="fas fa-arrow-circle-right"></i>
                          </a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
