<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Quản lý cộng đồng dân cư"}}</h1>
        </div>
        <div class="col-6 text-right">
          <!-- <a href="javascript:;" class="btn bg-red">
            <i class="fa fa-close">Close</i>

          </a> -->
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="alert alert-info alert-dismissible">
                <h6><i class="icon fa fa-info"></i> This is a sample
                  Dashboard which doesn't show any server side data.
                  However, you can develop your own dashboard inspired
                  by this one and its source code.</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>820+</h3>
                  <p>Nhà thông minh</p>
                </div>
                <div class="icon">
                  <i class="fas fa-home"></i>
                </div>
                <a
                  [routerLink]="['./smarthomesetting']"
                  class="small-box-footer">
                  Quản lý
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-primary">
                <div class="inner">
                  <h3>52k+</h3>
                  <p>Thiết bị thông minh</p>
                </div>
                <div class="icon">
                  <i class="fas fa-cog"></i>
                </div>
                <a
                  [routerLink]="['./devices']"
                  class="small-box-footer">
                  Quản lý
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>1.6k+</h3>
                  <p>Quản lý API thiết bị</p>
                </div>
                <div class="icon">
                  <i class="fas fa-tools"></i>
                </div>
                <a
                  [routerLink]="['./connectapi']"
                  class="small-box-footer">
                  Quản lý
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-6">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>140+</h3>
                  <p>Contributors</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
                <a
                  href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors"
                  class="small-box-footer"
                  target="_blank">
                  More info
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>1.6k+</h3>
                  <p>Used / Dependents</p>
                </div>
                <div class="icon">
                  <i class="fas fa-tools"></i>
                </div>
                <a
                  href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents"
                  class="small-box-footer"
                  target="_blank">
                  More info
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-primary">
                <div class="inner">
                  <h3>3.1k+</h3>
                  <p>Forks</p>
                </div>
                <div class="icon">
                  <i class="fas fa-code"></i>
                </div>
                <a
                  href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
                  class="small-box-footer"
                  target="_blank">
                  More info
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>


    </div>
  </section>
</div>