<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "Giới thiệu" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <br>
          <h4><strong>Meyhomes Capital Phú Quốc</strong></h4>
          <br>

          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Meyhomes Capital Phú Quốc ra
            đời thu hút đông đảo
            du khách với hàng
            loạt các trải nghiệm độc đáo cho một kỳ nghỉ sắc màu tại nơi thiên
            đường nhiệt đới với nét đẹp từ thiên nhiên, văn hóa - ẩm thực, hệ
            thống tiện ích dịch vụ đẳng cấp đáp ứng nhu cầu giải trí nhằm đem
            lại một cuộc sống bản địa, đa sắc màu.
          </p>
          <p>
            Meyhomes Capital Phú Quốc được triển khai tại khu
            vực còn sót lại
            của 6% tổng diện tích đất có quyền sở hữu vĩnh viễn của đảo Ngọc Phú
            Quốc. Nhờ đó sở hữu hàng loạt các tiềm năng vốn có tại đây, mang lại
            cơ hội đầu tư ưu việt hàng đầu.
          </p>
          <p>
            Dự án đã trở thành nơi hội tụ hàng đầu của các nhà đầu tư nhạy bén,
            nhanh nhạy với thị trường, có tầm view nhìn đầu tư giới hạn. Các sản
            phẩm đã hứa hẹn mang đảm bảo những trải nghiệm của mọi cư dân về một
            cuộc sống lý tưởng tại thành phố đảo này.
          </p>
          <br>
          <h4><strong>Tổng quan dự án Meyhomes Capital Phú Quốc</strong></h4>
          <br>


          <div class="row">
            <div class="col-sm-6">
              <p>
                <strong>Dự án:</strong> Meyhomes Capital Phú Quốc
              </p>
              <p>
                <strong> Chủ đầu tư:</strong> Meyland - Tập đoàn Tân Á Đại Thành
              </p>
              <p>
                <strong> Vị trí tọa lạc:</strong> Bãi Trường - Thị trấn An Thới
                -
                huyện Phú Quốc -
                tỉnh Kiên Giang
              </p>
              <p>
                <strong> Diện tích:</strong> 56 ha
              </p>
              <p>
                <strong> Mật độ xây dựng:</strong> 35%
              </p>
              <p>
                <strong> Loại hình sản phẩm:</strong> căn hộ shophouse; mini
                hotel;
                biệt thự ven biển;
                căn hộ cao cấp
              </p>
              <p>
                <strong> Số lượng sản phẩm:</strong> 1,435 căn trong đó
                Shophouse,
                Mini Hotel; 130 căn
                Biệt thự
              </p>
              <p>
                <strong> Tính pháp lý:</strong> sổ đỏ từng căn
              </p>
            </div>
            <div class="col-sm-6">
              <img style="height: 20rem;"
                src="../../assets/img/map_meyhomes.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
