<div [@routerTransition]>

  <section class="content px-2">

    <div class="container emp-profile">
      <div class="row">
        <div class="col-6">
          <h3 style="margin-left: 3rem;">{{ "Quản lý tài khoản" | localize}}</h3>
        </div>
        <div class="col-6 text-right">
          <div style="margin-right: 3.2rem;">
            <button type="button" class="btn bg-blue" style="position:
              relative;" [routerLink]="['../messager']">
              <i class="fa fa-comment"></i>
              <span class="icon-button__badge">2</span>
            </button>

            &nbsp;&nbsp;
            <button type="button" class="btn bg-blue" style="position:
              relative;">
              <i class="fa fa-envelope"></i>
              <!-- <span class="icon-button__badge">2</span> -->
            </button>
            <!-- <a href="javascript:;" class="btn bg-blue">
             
              <span class="icon-button__badge">2</span>
            </a> -->
            &nbsp;&nbsp;
            <button type="button" class="btn bg-yellow" style="position:
              relative;">
              <i class="fa fa-bell"></i>
              <!-- <span class="icon-button__badge">2</span> -->
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn bg-red" style="position:
              relative;">
              <i class="fa fa-exclamation-triangle"></i>
              <span class="icon-button__badge">3</span>
            </button>
            <!-- <a href="javascript:;" class="btn bg-red">
              <i class="fa fa-exclamation-triangle"></i>
            </a> -->
          </div>
        </div>

      </div>
      <br>
      <br>
      <br>
      <form method="post">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                alt="" />
              <div class="file btn btn-lg btn-primary">
                Change Photo
                <input type="file" name="file" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5 style="text-transform: uppercase;">
                {{userDto.userName}}
              </h5>
              <h6>
                Quản lý hệ thống
              </h6>
              <p class="proile-rating">RANKINGS : <span>8/10</span></p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                  <a class="nav-link" id="home-tab" data-toggle="tab"
                    role="tab" aria-controls="home" (click)="changeAria()"
                    aria-selected="aria_selected">Thông tin cơ bản</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab"
                    role="tab" aria-controls="profile" (click)="changeAria()"
                    aria-selected="aria_selected">Chi tiết</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <input type="submit" class="profile-edit-btn" name="btnAddMore"
              value="Edit Profile" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-work">
              <p>WORK LINK</p>
              <a href="https://songnamgroup.com/">Website Link</a>
              <br>
              <br>
              <a href="https://www.facebook.com/Songnamgroup">Facebook</a>
              <br>
              <br>
              <a href="https://www.youtube.com/">Youtube</a>
              <p>QR CODE</p>
              <img style="height: 10rem;" src="../../../assets/img/QR.png">
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content profile-tab"
              id="myTabContent">
              <div class="tab-pane fade show active" id="home"
                *ngIf="aria_selected"
                role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Họ và tên</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{userDto.fullName}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Ngày sinh</label>
                  </div>
                  <div class="col-md-6">
                    <p>12/01/1998</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>kshitighelani@gmail.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Phone</label>
                  </div>
                  <div class="col-md-6">
                    <p>123 456 7890</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Profession</label>
                  </div>
                  <div class="col-md-6">
                    <p>Web Developer and Designer</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show active" id="profile"
                *ngIf="!aria_selected"
                role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Experience</label>
                  </div>
                  <div class="col-md-6">
                    <p>Expert</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Hourly Rate</label>
                  </div>
                  <div class="col-md-6">
                    <p>10$/hr</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Total Projects</label>
                  </div>
                  <div class="col-md-6">
                    <p>230</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>English Level</label>
                  </div>
                  <div class="col-md-6">
                    <p>Expert</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Availability</label>
                  </div>
                  <div class="col-md-6">
                    <p>6 months</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Your Bio</label><br/>
                      <p>Your detail description</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

  </div>
