<!-- <<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Thông tin dân cư"}}</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            {{ "Sửa" }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
  </section>
</div> -->
<div><h2>Heello</h2></div>