<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 text-left">
                <h1>Quản lý bên trong tòa nhà</h1>
            </div>
            <div class="col-6 text-right">
                <a href="javascript:;"
                [routerLink]="['../']"
                class="btn bg-red">
                {{"Trở về"}}
                </a>
                &nbsp;
            </div>
        </div>
    </div>
</section>
<section>
    <div class="card">
        <div class="card-body">
            <div class="building-grid">
                <div class="row w-100">
                    <div class="col-2 p-2 m-2 building-grid-item mn-bd-item">
                        <div class="building-grid-item-top">
                            <div class="building-tool">
                                
                            </div>
                        </div>
                        <div class="building-grid-item-content">
                            <div class="building-img" >
                                <i class="bi bi-battery-half fa-5x"></i>
                            </div>                       
                        </div>
                        <div class="building-grid-item-bottom">
                            Quản lý hệ thống điện
                        </div>
                    </div>
                    <div class="col-2 p-2 m-2 building-grid-item mn-bd-item">
                        <div class="building-grid-item-top">
                            <div class="building-tool">
                                
                            </div>
                        </div>
                        <div class="building-grid-item-content">
                            <div class="building-img" >
                                <i class="bi bi-geo fa-5x"></i>
                            </div>                       
                        </div>
                        <div class="building-grid-item-bottom">
                            Quản lý hầm gửi xe
                        </div>
                    </div>
                    <div class="col-2 p-2 m-2 building-grid-item mn-bd-item">
                        <div class="building-grid-item-top">
                            <div class="building-tool">
                                
                            </div>
                        </div>
                        <div class="building-grid-item-content">
                            <div class="building-img" >
                                <i class="bi bi-credit-card-fill fa-5x"></i>
                            </div>                       
                        </div>
                        <div class="building-grid-item-bottom">
                            Quản lý dịch vụ thuê
                        </div>
                    </div>
                    <div class="col-2 p-2 m-2 building-grid-item mn-bd-item">
                        <div class="building-grid-item-top">
                            <div class="building-tool">
                                
                            </div>
                        </div>
                        <div class="building-grid-item-content">
                            <div class="building-img" >
                                <i class="bi bi-file-lock2 fa-5x"></i>
                            </div>                       
                        </div>
                        <div class="building-grid-item-bottom">
                            Quản lý khách ra vào
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
