.card:last-child {
    margin-bottom: 0;
}
.p-flex-column {
    flex-direction: column!important;
}
.p-d-flex {
    display: flex!important;
}
.height-100 {
    height: 100% !important;
}

.card {
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
}

* {
    box-sizing: border-box;
}

.p-p-3 {
    padding: 1rem!important;
}
.p-jc-center {
    justify-content: center;
}
.p-d-flex {
    display: flex!important;
}
.content-alt-bgcolor {
    background-color: #ECEFF1 !important;
}
.rounded-normal {
    border-radius: 4px !important;
}
.p-mt-3 {
    margin-top: 1rem!important;
}
.p-ai-center {
    align-items: center;
}
.p-flex-column {
    flex-direction: column!important;
}
.p-d-flex {
    display: flex!important;
}

.p-mt-auto {
    margin-top: auto!important;
}
.p-pt-3 {
    padding-top: 1rem!important;
}
.p-ai-center {
    align-items: center;
}
.p-jc-between {
    justify-content: space-between;
}
.p-d-flex {
    display: flex!important;
}
.p-lg-4 {
    width: 33.3333%;
}
.p-lg-3{
    width: 20%;
}
.cyan-bgcolor {
    background-color: #00ACC1 !important;
}
.purple-bgcolor {
    background-color: #9C27B0 !important;
    color:#ECEFF1;
}
